<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <link rel="icon" href="./paw-square.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <link rel="manifest" href="./app.webmanifest" />

    <title>HOMIEPET</title>
  </head>

  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <img src="./logo tulisan 11.png" alt="Logo" />
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/now-home">Home</a></li>
          <li><a href="#/now-home">Service</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="#/about">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div
      class="container-fluid jumbotron"
      style="background-image: url('./cutecat.jpg')"
    >
      <ul style="margin-top: 17%">
        <li
          style="font-size: 30px; font-weight: bold; text-transform: uppercase"
        >
          Kesehatan hewan adalah prioritas utama
        </li>
        <li style="font-size: 20px; font-weight: 600">
          Bingung ingin membawa hewan peliharaan kemana pada saat sakit?
        </li>
        <li style="font-size: 18px; font-weight: 500">
          Kini dengan Homiepet anda dapat mengetahui informasi terkait lokasi
          Petshop dan Petklinik.
        </li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">PetShop</h1>
        <div id="mainContent" tabindex="0"></div>
      </div>
    </div>
    <footer class="footer">
      <div class="batas">
        <div class="kotak">
          <div class="footer-col">
            <img src="./logo tulisan 11.png" alt="Logo" />
            <ul>
              <li style="color: white; font-size: 12px">
                Kesehatan Aminal adalah prioritas utama
              </li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>NAVIGASI</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Like</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>KONTAK</h4>
            <ul>
              <li><a href="#">Alisa</a></li>
              <li><a href="#">Bayu</a></li>
              <li><a href="#">Febry</a></li>
              <li><a href="#">Rafi</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>ALAMAT</h4>
            <ul>
              <li style="color: white; font-size: 14px">
                Jl. Batik Kumeli No.50, Sukaluyu, Kec. Cibeunying Kaler, Kota
                Bandung, Jawa Barat 40123
              </li>
              <li>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.9569970034213!2d107.63166691400231!3d-6.895747269395663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7a55a715555%3A0xb8bb411d2516aad6!2sDicoding%20Academy!5e0!3m2!1sid!2sid!4v1670069190216!5m2!1sid!2sid"
                  width="250"
                  height="200"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </li>
            </ul>
          </div>
          <div class="footer-bottom">
            <p>
              Copyright &copy;2022. All Rights Reserved. designed by
              <span>HOMIEPET</span>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
